@import 'tailwindcss';

:root {
  --font-poppins: 'Poppins', -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  font-family: var(--font-poppins);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #f7f7f7 !important;
}

* {
  font-family: var(--font-poppins);
}

.TextFSSM {
  font-size: 12px;
  line-height: 20px;
}

.TextFS {
  font-size: 14px;
  line-height: 22px;
}

.TextFSLG {
  font-size: 16px;
  line-height: 24px;
}

.TextFSXL {
  font-size: 20px;
}

.HeadingFS1 {
  font-size: 38px;
}

.TextFSXLLG {
  font-size: 34px;
  line-height: 40px;
}

.HeadingFS2 {
  font-size: 30px;
  line-height: 38px;
}

.HeadingFS3 {
  font-size: 24px;
  line-height: 32px;
}

.HeadingFS4 {
  font-size: 20px;
  line-height: 28px;
}

.HeadingFS5 {
  font-size: 16px;
}

.TextLH {
  line-height: 22px;
}

.TextLHLG {
  line-height: 24px;
}

.TextLHSM {
  line-height: 20px;
}

.HeadingLH1 {
  line-height: 46px;
}

.HeadingLH2 {
  line-height: 38px;
}

.HeadingLH3 {
  line-height: 32px;
}

.HeadingLH4 {
  line-height: 28px;
}

.HeadingLH5 {
  line-height: 24px;
}

.ant-select-status-error .ant-select-selector {
  box-shadow: none !important;
  border-color: #f5f5f5 !important;
}
.ant-select-status-error .ant-select-arrow {
  color: inherit !important;
}
